.menu_container {
    height: calc(100vh - 90px);
    width: 100vw;
    background-color: #324154ac;
    position: fixed;
    z-index: 32767;
    bottom: 0;
    cursor: pointer;
}

.menu_inner {
    position: fixed;
    width: 100vw;
    top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background: var(--secondary-gradient);
    z-index: 32767;
    padding: 5%;
}

.menu_list {
    margin: 0px 20px !important;
    width: 16.67%;
}

.menu_list_item {
    color: var(--white) !important;
    margin: 15px 0%;
    cursor: pointer;
}

.menu_list_item>h1 {
    color: var(--white) !important;
}