.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: var(--d-black);
    color: var(--white);
    padding: 0% 5%;
    position: fixed;
    z-index: 32767;
}

.navbar_img_container {
    width: 10%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navbar_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar_list_item {
    padding: 0% 2.5%;
    font-size: 14px;
    white-space: nowrap;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.navbar_menu_icon_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

.navbar_menu_icon_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 25px;
}

.navbar_menu_icon_main>span {
    width: 100%;
    border: 1px solid var(--white);
    margin: 2px 0px;
    border-radius: 10px;
}

.dropdown_menu {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    padding: 25px 0 !important;
    background-color: var(--primary);
    margin: 20px 0 !important;
    border-radius: 5px;
    top: 50px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown_item {
    padding: 15px 25px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.dropdown_caret_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 10%;
}

.dropdown_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar_expand_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}