.dashboard_container {
  background: var(--l-grey);
  z-index: 0;
  padding: 1% 2.5%;
  height: calc(100vh - 90px);
  width: 100%;
  bottom: 0;
  position: absolute;
  overflow-y: scroll;
  background-color: #f1f5f9;
}

.dashboard_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_nav {
  height: 90px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--d-black);
  padding: 0% 5%;
  transition: all 0.3s ease-in-out;
}

.dashboard_logo {
  height: 100%;
  max-width: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashboard_nav_profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboard_nav_notif {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: #384456;
  margin: 0px 15px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.active::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: var(--red);
  display: block;
  position: absolute;
  transform: translate(50%, -75%);
  border-radius: 20px;
}

.dashboard_nav_user_info {
  border-radius: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #384456;
  transition: all 0.3s ease-in-out;
}

.dashboard_nav_user_image {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 100px;
  margin: 15px 0px 15px 15px;
  overflow: hidden;
}

.dashboard_nav_user_name {
  margin: 0% 15px;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown_caret_cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0% 2.5px;
}

.input_dashboard_lg {
  width: 100%;
  background-color: #fff !important;
  font-size: 24px;
  margin: 0px;
  color: var(--black);
  padding: 1.5% 6.5% 1.5% 1.5%;
  box-shadow: 0px 10px 20px hsla(233, 98%, 17%, 0.02);
  border-radius: 10px;
}

.input_group_icon {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 2.5%;
}

.admin {
  background-color: var(--primary) !important;
}

.admin_sec {
  background-color: var(--secondary) !important;
}
