@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --none: none;
  --primary: #6d7eff;
  --secondary: #404987;
  --txt-primary: #1d293a;
  --txt-secondary: #93a7c6;
  --border: #93a7c6;
  --l-border: #d1d8e2;
  --grey: #d1d8e2;
  --d-grey: #93a3b7;
  --l-grey: #f6f9fe;
  --black: #324154;
  --d-black: #1d293a;
  --white: #fff;
  --red: #ff1a70;
  --primary-gradient: linear-gradient(180deg, #3847ba 0%, #0d1130 100%);
  --secondary-gradient: linear-gradient(180deg, #404987 0%, #1d293a 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background-color: #f1f5f9;
}

input {
  padding: 15px 100px 15px 15px;
  outline: none;
  background-color: #93a7c62e;
  border-radius: 5px;
  color: var(--white);
  font-family: "Poppins", serif;
  border: none;
  width: 100%;
  margin: 10px 0;
}
input.form_input {
  color: var(--black);
}

input:-webkit-autofill {
  color: var(--primary) !important;
}

input:-webkit-autofill:focus {
  color: var(--primary) !important;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

label {
  font-size: 12px;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
  margin: 1% 0% !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--black);
}

h2 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.subpage_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9;
  height: calc(100vh - 90px);
  width: 100vw;
  position: absolute;
  bottom: 0px;
  padding: 3%;
}

.subpage_inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  height: 100%;
  width: 100%;
  box-shadow: 0px 10px 20px #010b5709;
  border-radius: 10px;
  padding: 0% 3% 3%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.subpage_paragraph_container {
  padding: 1.5em;
  width: 100%;
}

.subpage_paragraph {
  color: var(--txt-secondary);
  width: 100%;
  margin: 1.5em 0%;
}

.subpage_paragraph_alt {
  color: var(--txt-secondary);
  width: 100%;
  margin: 1.5em 0%;
  background-color: var(--l-grey);
  padding: 20px;
}

.back_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 32767;
  left: 0%;
  top: 50%;
  padding: 20px;
  background-color: #3847ba;
  border-radius: 0px 10px 10px 0px;
  color: var(--white);
  cursor: pointer;
}

.input_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: relative;
  margin: 1% 0%;
}

.input_group_icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  right: 0%;
  height: 50px;
  width: 50px;
}

.input_group_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: relative;
  margin: 1% 0%;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

.ul_secondary {
  color: var(--txt-secondary);
}

.ul_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.ul_links_item {
  background-color: var(--primary);
  color: var(--white);
  padding: 25px;
  border-radius: 10px;
  margin: 5px 0px !important;
  width: 100%;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.link {
  color: var(--primary) !important;
  text-decoration: underline;
  cursor: pointer;
}

/* RTE Custom */

.rdw-editor-toolbar {
  visibility: visible;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px #6d7eff26;
}

.rdw-inline-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rdw-option-wrapper {
  height: 30px;
  width: 30px;
  margin: 2px;
  border-radius: 5px;
  background-color: #d0d6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rdw-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rdw-text-align-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rdw-history-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rdw-block-wrapper {
  height: 100%;
}

.rdw-dropdown-wrapper {
  height: 100% !important;
  position: relative;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}

.rdw-fontsize-wrapper {
  height: 100%;
}

.rdw-dropdown-optionwrapper {
  position: absolute;
  top: calc(100% + 20px);
  left: 0%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--white);
  width: 200px;
  cursor: pointer;
  box-shadow: 0px 10px 20px #6d7eff45;
}

.rdw-dropdownoption-default {
  padding: 15px;
}

.rdw-right-aligned-block {
  text-align: right;
}
.rdw-left-aligned-block {
  text-align: left !important;
}
.rdw-center-aligned-block {
  text-align: center !important;
}
.rdw-justify-aligned-block {
  text-align: justify !important;
}
.rdw-right-aligned-block > div {
  display: inline-block;
}
.rdw-left-aligned-block > div {
  display: inline-block;
}
.rdw-center-aligned-block > div {
  display: inline-block;
}
.rdw-justify-aligned-block > div {
  display: inline-block;
}

.custom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #6d7eff12;
  border-radius: 5px;
}

/**
 * Draft v0.9.1
 *
 * Copyright (c) 2013-present, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 */
.DraftEditor-editorContainer,
.DraftEditor-root,
.public-DraftEditor-content {
  height: inherit;
  text-align: initial;
}
.public-DraftEditor-content[contenteditable="true"] {
  -webkit-user-modify: read-write-plaintext-only;
}
.DraftEditor-root {
  position: relative;
}
.DraftEditor-editorContainer {
  background-color: rgba(255, 255, 255, 0);
  border-left: 0.1px solid transparent;
  position: relative;
  z-index: 1;
}
.public-DraftEditor-block {
  position: relative;
}
.DraftEditor-alignLeft .public-DraftStyleDefault-block {
  text-align: left;
}
.DraftEditor-alignLeft .public-DraftEditorPlaceholder-root {
  left: 0;
  text-align: left;
}
.DraftEditor-alignCenter .public-DraftStyleDefault-block {
  text-align: center;
}
.DraftEditor-alignCenter .public-DraftEditorPlaceholder-root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.DraftEditor-alignRight .public-DraftStyleDefault-block {
  text-align: right;
}
.DraftEditor-alignRight .public-DraftEditorPlaceholder-root {
  right: 0;
  text-align: right;
}
.public-DraftEditorPlaceholder-root {
  color: #9197a3;
  position: absolute;
  z-index: 0;
}
.public-DraftEditorPlaceholder-hasFocus {
  color: #bdc1c9;
}
.DraftEditorPlaceholder-hidden {
  display: none;
}
.public-DraftStyleDefault-block {
  position: relative;
  white-space: pre-wrap;
}
.public-DraftStyleDefault-ltr {
  direction: ltr;
  text-align: left;
}
.public-DraftStyleDefault-rtl {
  direction: rtl;
  text-align: right;
}
.public-DraftStyleDefault-listLTR {
  direction: ltr;
}
.public-DraftStyleDefault-listRTL {
  direction: rtl;
}
.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 16px 0;
  padding: 0;
}
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
  margin-left: 1.5em;
}
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL {
  margin-right: 1.5em;
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR {
  margin-left: 3em;
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL {
  margin-right: 3em;
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR {
  margin-left: 4.5em;
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL {
  margin-right: 4.5em;
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR {
  margin-left: 6em;
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL {
  margin-right: 6em;
}
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR {
  margin-left: 7.5em;
}
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL {
  margin-right: 7.5em;
}
.public-DraftStyleDefault-unorderedListItem {
  list-style-type: square;
  position: relative;
}
.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0 {
  list-style-type: disc;
}
.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1 {
  list-style-type: circle;
}
.public-DraftStyleDefault-orderedListItem {
  list-style-type: none;
  position: relative;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
  left: -36px;
  position: absolute;
  text-align: right;
  width: 30px;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before {
  position: absolute;
  right: -36px;
  text-align: left;
  width: 30px;
}
.public-DraftStyleDefault-orderedListItem:before {
  content: counter(ol0) ". ";
  counter-increment: ol0;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before {
  content: counter(ol1) ". ";
  counter-increment: ol1;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before {
  content: counter(ol2) ". ";
  counter-increment: ol2;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before {
  content: counter(ol3) ". ";
  counter-increment: ol3;
}
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before {
  content: counter(ol4) ". ";
  counter-increment: ol4;
}
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset {
  counter-reset: ol0;
}
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset {
  counter-reset: ol1;
}
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset {
  counter-reset: ol2;
}
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset {
  counter-reset: ol3;
}
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset {
  counter-reset: ol4;
}
